@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@100;500;700&family=Nunito+Sans:wght@300;500;700&family=Roboto:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: hsl(222, 84%, 60%);
  --primary-color-light: hsl(164, 79%, 71%);
  --primary-color-dark: hsl(246, 71%, 41%);
  --secondary-color-1: hsl(5, 85%, 18%);
  --secondary-color-2: hsl(257, 83%, 28%);
  --secondary-color-3: hsl(210, 86%, 36%);
  --backdrop-color: #0000004d;
  --contrast-color: #0a1392;
  --dark-contrast-color: #180851;
  --hover-bg-color: rgba(10, 19, 146, 0.62);
  --text-color: #fff;
  --padding: 20px 40px;
  --container-padding: 40px 5vw;
  --button-padding: 30px clamp(50px, 2vw, 130px);
  --border-radius-large: 20px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;
  --border-radius-tiny: 5px;
  --font-size-large: 26px;
  --font-size-medium: 18px;
  --font-weight-bold: 600;
  --background-color-dark: #010413;
  --border-color: rgba(10, 19, 146, 0.62);
  --lego-background: linear-gradient(
    180deg,
    #be3a4b 0%,
    var(--background-color-dark) 30%
  );
  --moesgaard-background: linear-gradient(
    180deg,
    #bb6cdb 0%,
    var(--background-color-dark) 30%
  );
  --pdp-background: linear-gradient(
    180deg,
    #077bc3 0%,
    var(--background-color-dark) 30%
  );
  --video-bg-color: #e8e7ed;
  --video-padding: 5px;
  --contrast-color-1: #9be0f4;
  --mobile-padding: 0 2vw;
  --font-expletus: "Expletus Sans", sans-serif;
  --font-nunito: "Nunito Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-size-h1: clamp(2rem, 4vw, 4rem);
  --font-size-h2: clamp(1.75rem, 3.5vw, 3rem);
  --font-size-h3: clamp(1.5rem, 3vw, 2.5rem);
  --font-size-h4: clamp(1.25rem, 2.5vw, 2rem);
  --font-size-h5: clamp(1rem, 2vw, 1.5rem);
  --font-size-h6: clamp(0.875rem, 1.5vw, 1.25rem);
  --font-size-p: clamp(1rem, 2vw, 1.25rem);
  --font-size-button: clamp(1rem, 2vw, 1.25rem);
  --font-weight-light: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --font-size-super-title: clamp(3rem, 8vw, 8rem);
}

h1 {
  font-size: var(--font-size-h1);
  line-height: 1.4;
  margin: 0 0 1rem;
  font-family: var(--font-nunito);
  font-weight: var(--font-weight-medium);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: 1.4;
  margin: 0 0 1rem;
  font-family: var(--font-nunito);
  font-weight: var(--font-weight-medium);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: 1.4;
  margin: 0 0 1rem;
  font-family: var(--font-nunito);
  font-weight: var(--font-weight-medium);
}

h4 {
  font-size: var(--font-size-h4);
  line-height: 1.4;
  margin: 0 0 1rem;
  font-family: var(--font-nunito);
  font-weight: var(--font-weight-medium);
}

h5 {
  font-size: var(--font-size-h5);
  line-height: 1.4;
  margin: 0 0 1rem;
  font-family: var(--font-nunito);
  font-weight: var(--font-weight-medium);
}

h6 {
  font-size: var(--font-size-h6);
  line-height: 1.4;
  margin: 0 0 1rem;
  font-family: var(--font-nunito);
  font-weight: var(--font-weight-medium);
}

button {
  font-size: var(--font-size-button);
  line-height: 1.4;
  margin: 0 0 1rem;
  font-family: var(--font-nunito);
  font-weight: var(--font-weight-medium);
}

p {
  font-size: var(--font-size-p);
  line-height: 1.4;
  margin: 0 0 1rem;
  font-family: var(--font-roboto);
  font-weight: var(--font-weight-medium);
}

.nunito {
  font-family: var(--font-nunito);
}

.roboto {
  font-family: var(--font-roboto);
}

.expletus {
  font-family: var(--font-expletus);
}

.light {
  font-weight: var(--font-weight-light);
}

.medium {
  font-weight: var(--font-weight-medium);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.super-title {
  font-size: clamp(180px, 20vw, 20rem);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.padding {
  padding: 0 5vw;
}

.expand {
  transition: transform 0.3s ease;
}

.expand:hover {
  --scale-factor: 1.5;
}

@media screen and (max-width: 900px) {
  .padding {
    padding: var(--mobile-padding);
  }
}
.section-seperator {
  height: 70px;
  width: 100%;
}

div:has(> .scale) {
  overflow: hidden;
  border-radius: var(--border-radius-medium);
}

div:has(> .scale) .scale {
  transition: transform 400ms;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

div:has(> .scale) .scale:hover {
  transform: scale(1.2);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.landing-section {
  height: clamp(800px, 90vh, 1500px);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
}
.landing-section:before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 50%;
  top: -20%;
  --size: max(70vh, 70vw);
  --speed: 15s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(var(--primary-color), var(--primary-color-light));
  animation: rotate var(--speed) var(--easing) infinite;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}
.landing-section .landing-section-container {
  width: 100%;
}
.landing-section .landing-section-container .dynamic-title {
  margin-top: clamp(50px, 6vw, 80px);
  margin-bottom: clamp(50px, 6vw, 80px);
  padding-left: 30px;
  font-size: clamp(20px, 8vw, 130px);
  font-weight: var(--font-weight-bold);
  position: relative;
  display: flex;
  line-height: 0.85;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  letter-spacing: 0.05em;
  visibility: hidden;
  overflow: hidden;
}
.landing-section .landing-section-container .dynamic-title span {
  display: block;
  position: relative;
}
.landing-section .landing-section-container .dynamic-title span:before {
  content: attr(data-char);
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-110%);
  color: #fff;
}
.landing-section .landing-section-container .dynamic-title::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  bottom: 0;
  z-index: -1;
  left: 0px;
  background: linear-gradient(to bottom, var(--secondary-color-1), var(--secondary-color-2));
}
.landing-section .landing-section-container .contact-button {
  margin: 140px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.landing-section .landing-section-container .contact-button button {
  padding: var(--button-padding);
  border-radius: 50px;
  border: 1px solid var(--primary-color);
  background: transparent;
  color: white;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.5s ease, font-size 0.3s ease;
}
.landing-section .landing-section-container .contact-button button::before {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom right, var(--primary-color), var(--primary-color-dark));
  height: 100%;
  width: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
  border-radius: 50px;
  opacity: 0;
  transition: width 0.5s ease, left 0.5s ease, opacity 0.5s ease;
}
.landing-section .landing-section-container .contact-button button:hover {
  transform: scale(1.15);
}
.landing-section .landing-section-container .contact-button button:hover::before {
  width: 100%;
  left: 0;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .landing-section {
    min-height: 65vh;
  }
  .landing-section .contact-button {
    margin: 90px 0;
  }
  .landing-section .contact-button button {
    width: auto;
    padding: 20px 40px;
  }
}
.img-container-wrapper {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  position: relative;
}

.img-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.img-container .hover-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: radial-gradient(circle at top left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: var(--text-color);
  display: flex;
  padding: var(--padding);
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  border-bottom-left-radius: var(--border-radius-large);
  border-bottom-right-radius: var(--border-radius-large);
}
.img-container .hover-text p {
  font-weight: var(--font-weight-bold);
}
.img-container > img {
  border-radius: var(--border-radius-large);
}

.img-container:hover .hover-text {
  opacity: 1;
  z-index: 100;
}

@media screen and (min-width: 901px) {
  section.horizontal {
    overflow: hidden;
  }
  section.horizontal .section-wrapper {
    height: inherit;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    padding: var(--container-padding);
  }
  section.horizontal .section-wrapper article,
  section.horizontal .section-wrapper .project-seperation {
    height: calc(100dvh - 80px);
    display: flex;
    flex-direction: row;
  }
  section.horizontal .section-wrapper article > div,
  section.horizontal .section-wrapper .project-seperation > div {
    margin-left: 40px;
  }
  section.horizontal .section-wrapper article > div:first-child,
  section.horizontal .section-wrapper .project-seperation > div:first-child {
    margin-left: 0;
  }
  section.horizontal .section-wrapper article .large-full-size,
  section.horizontal .section-wrapper .project-seperation .large-full-size {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-large);
  }
  section.horizontal .section-wrapper article .large-full-size video,
  section.horizontal .section-wrapper .project-seperation .large-full-size video {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: var(--border-radius-large);
  }
  section.horizontal .section-wrapper article .lego-wrapper,
  section.horizontal .section-wrapper .project-seperation .lego-wrapper {
    width: 90vw;
  }
  section.horizontal .section-wrapper article .lego-wrapper .lego-images,
  section.horizontal .section-wrapper .project-seperation .lego-wrapper .lego-images {
    height: calc(70% - 40px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
  }
  section.horizontal .section-wrapper article .lego-wrapper .lego-images .top-image,
  section.horizontal .section-wrapper .project-seperation .lego-wrapper .lego-images .top-image {
    width: calc(50% - 20px);
    height: 100%;
  }
  section.horizontal .section-wrapper article .lego-wrapper .lego-bottom-part,
  section.horizontal .section-wrapper .project-seperation .lego-wrapper .lego-bottom-part {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  section.horizontal .section-wrapper article .lego-wrapper .lego-bottom-part .lego-bottom-part-left,
  section.horizontal .section-wrapper .project-seperation .lego-wrapper .lego-bottom-part .lego-bottom-part-left {
    height: 100%;
    display: flex;
    align-items: center;
  }
  section.horizontal .section-wrapper article .lego-wrapper .lego-bottom-part .lego-bottom-part-left img,
  section.horizontal .section-wrapper .project-seperation .lego-wrapper .lego-bottom-part .lego-bottom-part-left img {
    max-width: 200px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  section.horizontal .section-wrapper article .lego-wrapper .lego-bottom-part .lego-bottom-part-right,
  section.horizontal .section-wrapper .project-seperation .lego-wrapper .lego-bottom-part .lego-bottom-part-right {
    flex: 1;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section.horizontal .section-wrapper article .lego-wrapper .lego-bottom-part .lego-bottom-part-right h3,
  section.horizontal .section-wrapper .project-seperation .lego-wrapper .lego-bottom-part .lego-bottom-part-right h3 {
    letter-spacing: 2px;
    font-size: 4vw;
    font-weight: var(--font-weight-bold);
    text-shadow: -1px -1px 0 var(--text-color), 1px -1px 0 var(--text-color), -1px 1px 0 var(--text-color), 1px 1px 0 var(--text-color);
    color: black;
  }
  section.horizontal .section-wrapper article .lego-wrapper .lego-bottom-part .lego-bottom-part-right p,
  section.horizontal .section-wrapper .project-seperation .lego-wrapper .lego-bottom-part .lego-bottom-part-right p {
    font-size: 16px;
  }
  section.horizontal .section-wrapper article .horizontal-three-wrapper,
  section.horizontal .section-wrapper .project-seperation .horizontal-three-wrapper {
    display: flex;
    flex-direction: column;
    width: clamp(400px, 70vw, 600px);
    gap: 40px;
  }
  section.horizontal .section-wrapper article .horizontal-three-wrapper .image-container,
  section.horizontal .section-wrapper .project-seperation .horizontal-three-wrapper .image-container {
    border-radius: var(--border-radius-large);
    height: calc((100% - 80px) / 3);
  }
  section.horizontal .section-wrapper article .two-images-split,
  section.horizontal .section-wrapper .project-seperation .two-images-split {
    width: clamp(300px, 50vw, 900px);
    min-width: 500px;
    display: block;
  }
  section.horizontal .section-wrapper article .two-images-split .img-container-wrapper,
  section.horizontal .section-wrapper .project-seperation .two-images-split .img-container-wrapper {
    height: calc(50% - 20px);
    margin-bottom: 40px;
  }
  section.horizontal .section-wrapper article .two-images-split .img-container-wrapper .img-container img,
  section.horizontal .section-wrapper .project-seperation .two-images-split .img-container-wrapper .img-container img {
    border-radius: var(--border-radius-large);
  }
  section.horizontal .section-wrapper article .grid-two-rows,
  section.horizontal .section-wrapper .project-seperation .grid-two-rows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 40px;
    grid-template-areas: "top-left top-right top-right" "bottom-left bottom-left bottom-right";
    width: clamp(800px, 120vw, 1600px);
  }
  section.horizontal .section-wrapper article .grid-two-rows .grid-top-left,
  section.horizontal .section-wrapper .project-seperation .grid-two-rows .grid-top-left {
    grid-area: top-left;
  }
  section.horizontal .section-wrapper article .grid-two-rows .grid-top-left #pdpImg,
  section.horizontal .section-wrapper .project-seperation .grid-two-rows .grid-top-left #pdpImg {
    -o-object-position: center top;
       object-position: center top;
  }
  section.horizontal .section-wrapper article .grid-two-rows .grid-top-right,
  section.horizontal .section-wrapper .project-seperation .grid-two-rows .grid-top-right {
    grid-area: top-right;
  }
  section.horizontal .section-wrapper article .grid-two-rows .grid-bottom-left,
  section.horizontal .section-wrapper .project-seperation .grid-two-rows .grid-bottom-left {
    grid-area: bottom-left;
  }
  section.horizontal .section-wrapper article .grid-two-rows .grid-bottom-right,
  section.horizontal .section-wrapper .project-seperation .grid-two-rows .grid-bottom-right {
    grid-area: bottom-right;
  }
  section.horizontal .section-wrapper article .img-container iframe,
  section.horizontal .section-wrapper .project-seperation .img-container iframe {
    border-radius: var(--border-radius-large);
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
  }
  section.horizontal .section-wrapper article .img-container img,
  section.horizontal .section-wrapper .project-seperation .img-container img {
    border-radius: var(--border-radius-large);
  }
  section.horizontal .section-wrapper article .img-container .hover-text p,
  section.horizontal .section-wrapper .project-seperation .img-container .hover-text p {
    font-size: var(--font-size-large);
  }
  section.horizontal .section-wrapper .project-seperation {
    height: 100%;
    width: 200px;
  }
  section.horizontal .section-wrapper .project-seperation .seperation {
    height: 100%;
    width: 100%;
    position: relative;
  }
  section.horizontal .section-wrapper .project-seperation .seperation::after {
    content: "";
    position: absolute;
    border-radius: var(--border-radius-medium);
    width: 5px;
    height: 20%;
    bottom: 40%;
    left: 50%;
    background: linear-gradient(to bottom, #e83724, #2f00ff);
  }
}
@media screen and (max-width: 900px) {
  .section-wrapper {
    padding: var(--mobile-padding);
    --article-padding: 2.5vw;
    --gradient-start: 30%;
    --gradient-end: 80%;
  }
  .section-wrapper article {
    border-radius: var(--border-radius-medium);
    padding: var(--article-padding);
    margin-bottom: 170px;
  }
  .section-wrapper article#lego {
    background: radial-gradient(ellipse at bottom left, var(--secondary-color-1) var(--gradient-start), black var(--gradient-end));
    border: 2px solid var(--secondary-color-1);
  }
  .section-wrapper article#moesgaard {
    border: 2px solid var(--secondary-color-2);
    background: radial-gradient(ellipse at bottom left, var(--secondary-color-2) var(--gradient-start), black var(--gradient-end));
  }
  .section-wrapper article#pdp {
    border: 2px solid var(--secondary-color-3);
    background: radial-gradient(ellipse at bottom left, var(--secondary-color-3) var(--gradient-start), black var(--gradient-end));
  }
  .section-wrapper article > div:first-child {
    position: relative;
    margin-top: -200px;
  }
  .section-wrapper article .article-content-wrapper {
    position: relative;
  }
  .section-wrapper article .article-content-wrapper > div {
    width: 100%;
    overflow: hidden;
    margin: clamp(60px, 12vw, 90px) 0;
  }
  .section-wrapper article .article-content-wrapper > div:last-of-type {
    margin-bottom: 0;
  }
  .section-wrapper article .article-content-wrapper .videoplayer-container {
    position: relative;
    height: 300px;
    border-radius: var(--border-radius-medium);
  }
  .section-wrapper article .article-content-wrapper .videoplayer-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    background: linear-gradient(to bottom, rgb(1, 4, 19) 0%, rgb(1, 4, 19) 30%, rgba(1, 4, 19, 0) 80%);
  }
  .section-wrapper article .article-content-wrapper .videoplayer-container.playing .play-icon {
    display: none;
  }
  .section-wrapper article .article-content-wrapper .videoplayer-container.playing video {
    mask-size: 400%;
    -webkit-mask-size: 400%;
  }
  .section-wrapper article .article-content-wrapper .videoplayer-container video,
  .section-wrapper article .article-content-wrapper .videoplayer-container iframe {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    mask-image: radial-gradient(circle at 50% -50%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 70%);
    -webkit-mask-image: radial-gradient(circle at 50% -150%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 70%);
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: 200%;
    -webkit-mask-size: 200%;
    transition: mask-size 1s ease, -webkit-mask-size 1s ease;
  }
  .section-wrapper article .article-content-wrapper .videoplayer-container .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
  }
  .section-wrapper article .article-content-wrapper .videoplayer-container .play-icon::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 15px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  .section-wrapper article .article-content-wrapper .project-description {
    --column-width: 110px;
    --column-margin: 30px;
    position: relative;
    margin-bottom: 50px;
    margin-top: -110px;
    transition: margin-top 1s ease;
  }
  .section-wrapper article .article-content-wrapper .project-description.video-playing {
    margin-top: 0;
  }
  .section-wrapper article .article-content-wrapper .project-description .image-text-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
  }
  .section-wrapper article .article-content-wrapper .project-description .image-text-container .project-logo {
    flex-shrink: 0;
    width: var(--column-width);
    height: var(--column-width);
    margin-right: var(--column-margin);
  }
  .section-wrapper article .article-content-wrapper .project-description .image-text-container .project-logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-wrapper article .article-content-wrapper .project-description .image-text-container .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section-wrapper article .article-content-wrapper .project-description .image-text-container .text-content .line-one {
    font-size: clamp(25px, 5.5vw, 2.7rem);
    font-weight: bold;
  }
  .section-wrapper article .article-content-wrapper .project-description .image-text-container .text-content .line-two {
    font-size: clamp(22px, 4.5vw, 1.6rem);
    color: #666;
  }
  .section-wrapper article .article-content-wrapper .project-description .icon-text-pair {
    display: flex;
    align-items: center;
    margin: 30px 0;
    background-color: var(--backdrop-color);
    padding: 20px 0;
    border-radius: var(--border-radius-medium);
  }
  .section-wrapper article .article-content-wrapper .project-description .icon-text-pair:last-of-type {
    margin-bottom: 0;
  }
  .section-wrapper article .article-content-wrapper .project-description .icon-text-pair .icon-circle-wrapper {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    width: var(--column-width);
    margin-right: var(--column-margin);
  }
  .section-wrapper article .article-content-wrapper .project-description .icon-text-pair .icon-circle-wrapper .icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--light-red);
    box-shadow: 0px 0px 15px rgba(30, 5, 5, 0.1);
  }
  .section-wrapper article .article-content-wrapper .project-description .icon-text-pair .icon-circle-wrapper .icon-circle i {
    font-size: 30px;
    color: var(--text-color);
  }
  .section-wrapper article .article-content-wrapper .project-description .icon-text-pair p {
    line-height: 2;
  }
  .section-wrapper article .article-content-wrapper .project-results {
    background-color: var(--backdrop-color);
    border: 1px solid #3f3f3f;
    border-radius: var(--border-radius-medium);
    padding: 30px 20px;
  }
  .section-wrapper article .article-content-wrapper .project-results .result-wrapper {
    display: flex;
    width: 100%;
  }
  .section-wrapper article .article-content-wrapper .project-results .result-wrapper .column {
    padding-right: 20px;
  }
  .section-wrapper article .article-content-wrapper .project-results .result-wrapper .column h2 {
    font-size: clamp(35px, 19vw, 120px);
    font-weight: 100;
    line-height: 0.9;
  }
  .section-wrapper article .article-content-wrapper .project-results .result-wrapper .column h3 {
    font-size: clamp(20px, 3.5vw, 80px);
    font-weight: 400;
    margin-left: 30px;
  }
  .section-wrapper article .article-content-wrapper .project-results .result-wrapper .column h3 span {
    font-weight: bold;
  }
  .section-wrapper article .article-content-wrapper .project-gallery {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: var(--border-radius-small);
  }
  .section-wrapper article .article-content-wrapper .project-gallery .video-scroll-player-container {
    border-radius: var(--border-radius-large);
    background-color: #2f00ff;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
  }
  .section-wrapper article .article-content-wrapper .project-gallery .video-scroll-player-container .video-scroll-player video {
    width: 100%;
    will-change: transform;
    transform: translateZ(0);
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-wrapper article .article-content-wrapper .project-gallery .main-image {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: var(--border-radius-medium);
  }
  .section-wrapper article .article-content-wrapper .project-gallery .main-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-wrapper article .article-content-wrapper .project-gallery .thumbnail-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .section-wrapper article .article-content-wrapper .project-gallery .thumbnail-gallery .gallery-item {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    height: 120px;
  }
  .section-wrapper article .article-content-wrapper .project-gallery .thumbnail-gallery .gallery-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  .section-wrapper article .article-content-wrapper .project-gallery .thumbnail-gallery .gallery-item:hover img {
    transform: scale(1.1);
    filter: brightness(0.8);
  }
  .section-wrapper article .article-content-wrapper .project-gallery .thumbnail-gallery .gallery-item::after {
    content: "Click to view";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .section-wrapper article .article-content-wrapper .project-gallery .thumbnail-gallery .gallery-item:hover::after {
    opacity: 1;
  }
  .section-wrapper article .article-content-wrapper .project-methodology .sticky-note-wrapper {
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
  }
  .section-wrapper article .article-content-wrapper .project-methodology .sticky-note-wrapper .sticky-note {
    padding: 2%;
    background-color: #fdfd96;
    font-family: "Patrick Hand", cursive;
    font-size: clamp(10px, 3vw, 20px);
    color: #333;
    transform: rotate(var(--tilt-angle, 0deg));
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .section-wrapper article .article-content-wrapper .project-methodology .sticky-note-wrapper .sticky-note:hover {
    transform: scale(1.1) rotate(0deg);
  }
  .section-wrapper article .article-content-wrapper .project-methodology .sticky-note-wrapper .sticky-note:nth-child(1) {
    --tilt-angle: -2deg;
    background-color: #ffdab9;
  }
  .section-wrapper article .article-content-wrapper .project-methodology .sticky-note-wrapper .sticky-note:nth-child(2) {
    --tilt-angle: 3deg;
    background-color: #add8e6;
  }
  .section-wrapper article .article-content-wrapper .project-methodology .sticky-note-wrapper .sticky-note:nth-child(3) {
    --tilt-angle: -4deg;
    background-color: #90ee90;
  }
  .section-wrapper article .article-content-wrapper .project-methodology .sticky-note-wrapper .sticky-note:nth-child(4) {
    --tilt-angle: 1deg;
    background-color: #ffa07a;
  }
  .section-wrapper article .article-content-wrapper .project-methodology .sticky-note-wrapper .sticky-note:nth-child(5) {
    --tilt-angle: -1deg;
    background-color: #f0e68c;
  }
  .section-wrapper article .article-content-wrapper .project-conclusion .text-over-image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
  }
  .section-wrapper article .article-content-wrapper .project-conclusion .text-over-image-container img {
    width: 100%;
    height: auto;
    display: block;
  }
  .section-wrapper article .article-content-wrapper .project-conclusion .text-over-image-container .text-over-image {
    background-color: #a22a38;
    border-radius: var(--border-radius-medium);
    padding: 30px 20px;
    box-shadow: 0 4px 12px rgba(55, 2, 18, 0.4);
    position: absolute;
    bottom: -50px;
    right: 20px;
    width: 80%;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 2;
  }
  .section-wrapper article .article-content-wrapper .perspective-image {
    transform: perspective(800px) rotateX(30deg);
    transform-origin: bottom;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #ccc;
    width: 100%;
    opacity: 0;
    transition: opacity 0.1s linear;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  }
  .section-wrapper article .img-container {
    margin-bottom: 25px;
    border-radius: var(--border-radius-small);
  }
  .section-wrapper article .img-container .hover-text {
    border-bottom-left-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
  }
  .section-wrapper article .img-container .hover-text p {
    font-size: var(--font-size-medium);
  }
  .section-wrapper article .img-container img {
    border-radius: var(--border-radius-small);
  }
  .section-wrapper article > *:last-child .img-container {
    margin-bottom: 0;
  }
}
.skills-section {
  margin: 120px 0;
  width: 100%;
  position: relative;
  overflow-y: hidden;
}
.skills-section .skills-section-flexcenter {
  width: 100%;
  display: flex;
  justify-content: center;
}
.skills-section .skills-section-flexcenter .skills-text-behind-scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
}
.skills-section .skills-scroller {
  margin: 5rem 0;
  max-width: 1200px;
}
.skills-section .skills-scroller[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
  mask: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
}
.skills-section .skills-scroller[data-animated=true] .scroller_inner {
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
}
.skills-section .scroller_inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.skills-section .tag-list {
  padding-inline: none;
  list-style: none;
}
.skills-section .tag-list > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-section .tag-list li {
  font-size: clamp(16px, 2vw, 2rem);
  padding: 1rem 1.5rem;
  background-color: var(--contrast-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--dark-contrast-color);
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
@media screen and (max-width: 900px) {
  .skill-tag-scroller {
    font-size: 140px;
  }
}
.block-container {
  contain: paint;
  display: block;
  height: 300vh;
}

.sticky-container {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
  position: relative;
  row-gap: 1.5vw;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}

.grid-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31vw;
  height: 33vh;
  -webkit-clip-path: inset(0 round 5px);
          clip-path: inset(0 round 5px);
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 900px) {
  .block-container {
    height: auto;
    padding: var(--mobile-padding);
  }
  .sticky-container {
    position: static;
    display: block;
    height: auto;
    width: 100%;
  }
  .grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, auto);
    position: static;
    row-gap: 2vw;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
  }
  .grid-item {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .centerImage {
    grid-column: span 2;
  }
  div:has(> .scale) {
    border-radius: 0px;
  }
}
.about-me-section {
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.profile-picture-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
}
.profile-picture-container .outer-ring {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  background-image: linear-gradient(135deg, #02a2c4 10%, #0a1392 40%, #010413 70%);
  border-radius: 50%;
  animation: rotate 4s infinite linear;
}
.profile-picture-container .inner-ring .profile-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  padding: 6px;
  position: relative;
}
.profile-picture-container .inner-ring .profile-pic img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.about-me-container {
  padding: 40px;
  border-radius: 15px;
  background-color: #010413;
  width: 100%;
  border: 1px solid #0a1392;
  color: #c8dff6;
}
.about-me-container .numbers-container {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}
.about-me-container .numbers-container .numbers {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}
.about-me-container .numbers-container .numbers h3 {
  font-size: clamp(30px, 7vw, 70px);
  font-weight: 700;
}
.about-me-container .numbers-container .numbers p {
  font-size: clamp(22px, 3vw, 25px);
  font-weight: 500;
}
.about-me-container .about-me-text {
  font-size: clamp(18px, 3vw, 20px);
  line-height: 70px;
}
.about-me-container .about-me-text .inline-image {
  height: 70px;
  width: 120px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid white;
  vertical-align: middle;
  margin: 0 10px;
}
.about-me-container .about-me-text b {
  font-size: clamp(17px, 3.2vw, 22px);
  font-weight: 600;
  color: #02a2c4;
}
.about-me-container .certifications .cert-container {
  max-height: 300px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.5s ease;
}
.about-me-container .certifications .cert-container.show-all {
  max-height: 1000px;
}
.about-me-container .certifications .cert-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  background: linear-gradient(to bottom, rgba(1, 4, 19, 0), #010413);
  display: block;
  transition: opacity 0.3s ease;
}
.about-me-container .certifications .cert-container.show-all::after {
  opacity: 0;
}
.about-me-container .certifications .show-more-btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #0a1392;
  color: #fff;
  background-color: #010413;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.about-me-container .certifications .show-more-btn:hover {
  background-color: #0a1392;
}

.cert-table {
  width: 100%;
  margin-top: 80px;
  border-collapse: collapse;
}
.cert-table td {
  padding: 20px 0;
  vertical-align: top;
}
.cert-table td.icon-cell {
  width: clamp(50px, 15%, 200px);
  text-align: center;
}
.cert-table td.icon-cell i {
  font-size: 1rem;
  color: #fff;
  border: 2px solid #02a2c4;
  border-radius: 50%;
  padding: 15px;
  display: inline-block;
}
.cert-table td.info-cell {
  padding-left: 30px;
  word-wrap: break-word;
}
.cert-table td.info-cell .cert-name {
  font-weight: bold;
}
.cert-table td.info-cell .issuer {
  margin-left: 10px;
  margin-top: 5px;
}
.cert-table td.info-cell .date {
  display: block;
  font-style: italic;
  color: #9baab0;
  margin-top: 5px;
}

@media screen and (max-width: 900px) {
  .profile-pic {
    height: 150px;
    width: 150px;
  }
  .about-me-container {
    padding: 20px;
  }
  p.about-me {
    font-size: 14px;
  }
  p.about-me b {
    font-size: 16px;
  }
}
.testimonials-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.testimonials-scroller {
  width: 100%;
  max-width: 1500px;
}

.testimonials-scroller[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
  mask: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
}

.testimonials-scroller[data-animated=true] .testimonials-scroller-inner {
  flex-wrap: nowrap;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  animation: scroll var(--scroll-animation-duration, 40s) var(--scroll-animation-direction, forwards) linear infinite;
  animation-play-state: running;
}

.testimonials-scroller[data-direction=right] {
  --scroll-animation-direction: reverse;
}

.testimonials-scroller[data-direction=left] {
  --scroll-animation-direction: forwards;
}

.testimonial-item {
  width: clamp(450px, 50vw, 600px);
  height: clamp(300px, 60vw, 350px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0a0a0a;
  padding: 30px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 1px solid #333;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.testimonial-quote {
  font-size: clamp(16px, 3vw, 1.25rem);
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
  color: #f0f0f0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.testimonial-quote::before {
  content: "“";
  position: absolute;
  top: -30px;
  font-size: 70px;
  color: #02a2c4;
  font-family: "Alef", sans-serif;
  font-weight: 700;
  font-style: normal;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-author {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  cursor: pointer;
  text-decoration: none;
}

.testimonial-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 25px;
}

.author-info {
  display: flex;
  flex-direction: column;
}

.author-info-row {
  display: flex;
  align-items: center;
}

.author-name {
  font-size: 16px;
  color: #3dcced;
}

.author-title {
  font-size: 0.875rem;
  color: #c1c1c1;
}

.linkedin-logo {
  font-size: 1.25rem;
  color: #0077b5;
  margin-left: 20px;
}

.testimonials-scroller:hover .testimonials-scroller-inner {
  animation-play-state: paused;
}

.reverse-scroll .testimonials-scroller-inner {
  animation: scroll-reverse 20s linear infinite;
}

@keyframes scroll-reverse {
  to {
    transform: translate(calc(50% + 0.5rem));
  }
}
.highlights-section {
  height: auto;
  width: 100vw;
  margin-bottom: 5vw;
}
.highlights-section .black-background {
  width: 95vw;
  height: auto;
  color: black;
  background-color: black;
}
.highlights-section .black-background .highlights-content {
  height: auto;
  width: 95vw;
  padding: 5vw;
}
.highlights-section .black-background .highlights-content h2 {
  font-family: "Caveat", sans-serif;
  font-size: clamp(25px, 6vw, 40px);
  font-weight: 400;
}
.highlights-section .black-background .highlights-content h3 {
  font-size: clamp(25px, 5vw, 35px);
  font-weight: 600;
}
.highlights-section .black-background .highlights-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.9;
}

@media screen and (max-width: 900px) {
  .highlights-section .black-background .highlights-content h2 {
    font-size: clamp(20px, 6vw, 30px);
  }
  .highlights-section .black-background .highlights-content h3 {
    font-size: clamp(18px, 5vw, 22px);
  }
  .highlights-section .black-background .highlights-content p {
    font-size: 14px;
  }
}
.copyright-container p {
  color: #000;
}/*# sourceMappingURL=main.css.map */