.about-me-section {
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.profile-picture-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: relative;

  .outer-ring {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    background-image: linear-gradient(
      135deg,
      #02a2c4 10%,
      #0a1392 40%,
      #010413 70%
    );
    border-radius: 50%;
    animation: rotate 4s infinite linear;
  }

  .inner-ring {
    .profile-pic {
      height: 300px;
      width: 300px;
      border-radius: 50%;
      overflow: hidden;
      padding: 6px;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.about-me-container {
  padding: 40px;
  border-radius: 15px;
  background-color: #010413;
  width: 100%;
  border: 1px solid #0a1392;
  color: #c8dff6;

  .numbers-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;

    .numbers {
      width: 30vw;
      display: flex;
      flex-direction: column;
      justify-content: start;
      text-align: center;

      h3 {
        font-size: clamp(30px, 6vw, 50px);
        font-weight: 700;
      }
    }
  }

  .about-me-text {
    font-size: clamp(18px, 3vw, 20px);
    line-height: 70px;

    .inline-image {
      height: 70px;
      width: 120px;
      border-radius: 50px;
      object-fit: cover;
      border: 1px solid white;
      vertical-align: middle;
      margin: 0 10px;
    }

    b {
      font-size: clamp(17px, 3.2vw, 22px);
      font-weight: 600;
      color: #02a2c4;
    }
  }

  .certifications {
    .cert-container {
      max-height: 250px;
      overflow: hidden;
      position: relative;
      transition: max-height 0.5s ease;
    }
    .cert-container.show-all {
      max-height: 1000px;
    }
    .cert-container::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100px;
      background: linear-gradient(to bottom, rgba(1, 4, 19, 0), #010413);
      display: block;
      transition: opacity 0.3s ease;
    }
    .cert-container.show-all::after {
      opacity: 0;
    }
    .show-more-btn {
      display: block;
      margin: 10px auto;
      padding: 10px 20px;
      font-size: 16px;
      border: 1px solid #0a1392;
      color: #fff;
      background-color: #010413;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .show-more-btn:hover {
      background-color: #0a1392;
    }
  }
}

.cert-table {
  width: 100%;
  margin: 50px 0 0 0;
  border-collapse: collapse;

  td {
    padding: 10px;
    vertical-align: top;

    &.icon-cell {
      width: clamp(50px, 15%, 200px);
      text-align: center;

      i {
        font-size: 1rem;
        color: #fff;
        border: 1px solid #02a2c4;
        border-radius: 50%;
        padding: 15px;
        display: inline-block;
      }
    }

    &.info-cell {
      word-wrap: break-word;

      .cert-name {
        font-weight: bold;
      }

      .issuer {
        margin-left: 10px;
        margin-top: 5px;
      }

      .date {
        display: block;
        font-style: italic;
        color: #9baab0;
        margin-top: 5px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .profile-pic {
    height: 150px;
    width: 150px;
  }

  .about-me-container {
    padding: 20px;
  }

  p.about-me {
    font-size: 14px;

    b {
      font-size: 16px;
    }
  }
}
