.highlights-section {
  height: auto;
  width: 100vw;
  margin-bottom: 2.5vw;
  .black-background {
    width: 95vw;
    height: auto;
    color: black;
    background-color: var(--background-color-dark);
    transition: all 1.5s ease;

    .highlights-content {
      width: 95vw;
      padding: clamp(40px, 2.5vw, 3rem);
      padding-left: 2.5vw;

      h1 {
        font-size: var(--font-size-h1);
      }

      h3 {
        margin: 20px 0;
        transition: all 1.5s ease;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .highlights-section .black-background .highlights-content {
    padding-left: 20px;
  }
}
