@media screen and (min-width: 901px) {
  section.horizontal {
    overflow: hidden;

    .section-wrapper {
      width: fit-content;
      display: flex;
      flex-wrap: nowrap;
      padding: var(--container-padding);
      height: 100lvh;

      article.project-article {
        height: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        border-radius: var(--border-radius-large);
        padding: 2.5vw;

        & > div {
          height: 100%;
          margin-right: 5vw;

          &:last-child {
            margin-right: 0;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: 3px 3px;
          opacity: 1;
          pointer-events: none;
          border-radius: var(--border-radius-large);

          -webkit-mask-image: var(--radial-background-mask);
          mask-image: var(--radial-background-mask);
        }

        &#lego {
          border: var(--lego-border);
          &::before {
            background-image: var(--lego-background);
          }
        }

        &#netcompany {
          border: var(--netcompany-border);
          &::before {
            background-image: var(--netcompany-background);
          }
        }

        &#moesgaard {
          border: var(--moesgaard-border);
          &::before {
            background-image: var(--moesgaard-background);
          }
        }

        &#pdp {
          border: var(--pdp-border);
          &::before {
            background-image: var(--pdp-background);
          }
        }

        &#sdu-game {
          border: var(--sdu-border);
          &::before {
            background-image: var(--sdu-background);
          }
        }

        .video-wrapper {
          width: 90vw;
          border-radius: var(--border-radius-large);
          display: flex;
          justify-content: center;
          align-items: center;
          background: black;

          video {
            z-index: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: var(--border-radius-large);
          }
        }

        .iframe-container {
          width: 90vw;
          border-radius: var(--border-radius-large);

          iframe {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: var(--border-radius-large);
          }
        }

        .rows-wrapper {
          display: flex;
          flex-direction: column;
          gap: 2.5vw;
          height: 100%;
          width: clamp(600px, 50vw, 800px);

          .row {
            flex: 1 1 0;
            min-height: 0;
            overflow: hidden;
            background-color: var(--card-background);
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius-large);
          }

          .row-padding {
            padding: 40px;
          }

          .row-center {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            text-align: center;
            h1 {
              font-size: clamp(40px, 20vh, 200px);
              margin-bottom: 2.5vh;
            }
          }
        }

        .star-section {
          display: flex;
          align-items: flex-start;
          gap: 20px;

          h4 {
            font-weight: bold;
            margin-bottom: 4px;
          }

          ul {
            padding-left: 20px;
          }
        }
      }

      .project-seperation {
        height: 100%;
        width: 200px;

        .seperation {
          height: 100%;
          width: 100%;
          position: relative;
        }

        .seperation::after {
          content: "";
          position: absolute;
          border-radius: var(--border-radius-medium);
          width: 5px;
          height: 20%;
          bottom: 40%;
          left: 50%;
          background: var(--horizontal-dividers-background);
        }
      }
    }
  }
}
