@media screen and (max-width: 900px) {
  .verticcal {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top-left-radius: var(--border-radius-large);
      border-top-right-radius: var(--border-radius-large);
      /*background-image: var(
        --current-project-background,
        var(--netcompany-background)
      );
      background-size: 3px 3px;
      -webkit-mask-image: var(--radial-background-mask);*/
      mask-image: var(--radial-background-mask);
      pointer-events: none;
      z-index: 0;
    }
  }

  .section-wrapper {
    padding: var(--mobile-padding);
    --article-padding: 0px;
    --margin-bottom: 25px;
    --logo-margin-bottom: 30px;
    position: relative;
    z-index: 1;

    & > .project-article:first-of-type {
      margin-top: 0;
    }

    .project-article {
      width: 100%;
      border-radius: var(--border-radius-medium);
      padding: var(--article-padding);
      position: relative;
      display: flex;
      flex-direction: column;
      margin: clamp(60px, 100px, 150px) 0;
      min-height: 600px;
      color: var(--light-font-color);

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 250px;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(250, 250, 250, 1)
        );
        border-bottom-left-radius: var(--border-radius-medium);
        border-bottom-right-radius: var(--border-radius-medium);
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 1;
      }

      &.expanded::after {
        opacity: 0;
        pointer-events: none;
      }

      &#netcompany {
        border: 2px solid #d0d0d0;
        background: var(--netcompany-article-background);
      }

      &#lego {
        border: 2px solid #d0d0d0;
        background: var(--lego-article-background);
      }

      &#moesgaard {
        border: 2px solid #d0d0d0;
        background: var(--moesgaard-article-background);
      }

      &#pdp {
        border: 2px solid #d0d0d0;
        background: var(--pdp-article-background);
      }

      &#sdu-game {
        border: 2px solid #d0d0d0;
        background: var(--sdu-article-background);
      }

      .read-more {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        font-size: var(--font-size-p);
        color: var(--font-color);
        background-color: var(--background-color-dark);
        border: 1px solid var(--accent-color-1);
        border-radius: 5px;
        cursor: pointer;
        z-index: 2;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--accent-color-1);
        }
      }

      .article-content-wrapper {
        position: relative;
        overflow: hidden;
        max-height: 800px;
        transition: max-height 1s ease;

        & > div {
          width: 100%;
          padding: 15px;
          margin-bottom: clamp(30px, 50px, 80px) 0;
        }

        & > div:last-of-type {
          margin-bottom: 0;
        }

        .videoplayer-container {
          position: relative;
          aspect-ratio: 16/9;
          border-radius: var(--border-radius-small);

          overflow: hidden;

          &.playing {
            video {
              mask-size: 700%;
              -webkit-mask-size: 700%;
            }
          }

          video {
            margin-bottom: calc(2 * var(--margin-bottom));
          }

          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: var(--border-radius-small);
            mask-image: radial-gradient(
              circle at 50% -50%,
              rgba(0, 0, 0, 1) 50%,
              rgba(0, 0, 0, 0) 70%
            );
            -webkit-mask-image: radial-gradient(
              circle at 50% -150%,
              rgba(0, 0, 0, 1) 50%,
              rgba(0, 0, 0, 0) 70%
            );
            mask-position: center;
            -webkit-mask-position: center;
            mask-size: 250%;
            -webkit-mask-size: 250%;
            transition:
              mask-size 2s ease,
              -webkit-mask-size 2s ease;
          }
        }

        .iframe-container {
          aspect-ratio: 16/9;
          border-radius: var(--border-radius-small);
          margin-bottom: var(--margin-bottom);
          border: 1px solid #d0d0d0;
          box-shadow: var(--light-card-shadow);
          overflow: hidden;

          iframe {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: var(--border-radius-small);
          }
        }
        .project-description {
          --column-width: 110px;
          position: relative;
          margin-top: -80px;
          margin-bottom: var(--margin-bottom);
          transition: margin-top 1s ease;

          &.video-playing {
            margin-top: 0;
          }

          &:last-of-type {
            margin-bottom: 0;
          }

          .project-title-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: var(--light-card-background);
            border: 1px solid #d0d0d0;
            padding: 20px;
            border-radius: var(--border-radius-small);
            box-shadow: var(--light-card-shadow);

            .project-logo {
              max-width: 140px;
              max-height: 50px;
              margin-top: 20px;
              margin-bottom: var(--logo-margin-bottom);

              img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                object-fit: contain;
                display: block;
              }

              img[src*="pdpLogo"] {
                height: 30px;
                object-fit: contain;
                margin: 0;
                padding: 0;
              }

              &#sduLogo {
                max-width: 75px;
                max-height: 75px;
              }
            }

            #legoLogo {
              aspect-ratio: 1/1;
              max-width: 50px;
              max-height: 50px;
              object-fit: contain;
            }

            #sduLogo {
              aspect-ratio: 1/1;
              max-width: 75px;
              max-height: 75px;
              object-fit: contain;
            }

            /* PDP logo container */
            .project-logo:has(img[src*="pdpLogo"]) {
              max-height: 40px;
              margin-bottom: var(--logo-margin-bottom);
            }

            .text-content {
              display: flex;
              flex-direction: column;

              h3 {
                margin-bottom: 0;
              }
            }
          }
        }
        .project-results {
          margin-bottom: var(--margin-bottom);

          &:last-child {
            margin-bottom: 0;
          }

          .stats-container-wrapper {
            display: flex;
            gap: var(--margin-bottom);
            margin-bottom: var(--margin-bottom);
            justify-content: center;

            &:last-child {
              margin-bottom: 0;
            }

            .stat-box {
              width: calc(50% - (var(--margin-bottom) / 2));
              aspect-ratio: 1/1;
              border: 1px solid #d0d0d0;
              border-radius: var(--border-radius-small);
              background-color: var(--light-card-background);
              text-align: center;
              box-shadow: var(--light-card-shadow);

              .stat-box-img {
                width: 100%;
                height: 100%;
                border-radius: var(--border-radius-small);
                overflow: hidden;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  display: block;
                }
              }

              .stat-box-content {
                height: 100%;
                padding: 10px;
                flex-direction: column;
                display: flex;
                .stat-box-top {
                  flex: 1 1 50%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;

                  h1 {
                    font-weight: var(--font-weight-light);
                    margin: 0 auto;
                  }
                }
                p {
                  flex: 1 1 auto;
                }
              }
            }
          }
        }

        .project-gallery {
          margin-bottom: var(--margin-bottom);

          &:last-child {
            margin-bottom: 0;
          }

          & > div {
            margin-bottom: var(--margin-bottom);

            &:last-of-type {
              margin-bottom: 0;
            }
          }

          .img-container {
            overflow: hidden;
            border-radius: var(--border-radius-small);

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: var(--border-radius-small);
              transition: transform 0.3s ease;
            }

            img.scale:hover {
              transform: scale(1.05);
            }
          }

          .video-scroll-player-container {
            margin-top: var(--margin-bottom);
            margin-bottom: var(--margin-bottom);
            aspect-ratio: 16/9;
            position: relative;
            overflow: hidden;
            border-radius: var(--border-radius-small);
            .video-scroll-player {
              video {
                width: 100%;
                will-change: transform;
                transform: translateZ(0);
                object-fit: cover;
              }
            }
          }

          .main-image {
            width: 100%;
            aspect-ratio: 16/9;
            margin-bottom: clamp(10px, 15px, 20px);
            overflow: hidden;
            border-radius: var(--border-radius-small);

            img {
              border-radius: var(--border-radius-small);
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .thumbnail-gallery {
            display: flex;
            justify-content: center;
            gap: clamp(10px, 15px, 20px);

            .gallery-item {
              flex: 1;
              position: relative;
              overflow: hidden;
              border-radius: var(--border-radius-small);
              cursor: pointer;
              aspect-ratio: 1/1;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition:
                  transform 0.3s ease,
                  filter 0.3s ease;
              }
              &:hover img {
                transform: scale(1.1);
                filter: brightness(0.8);
              }
              &::after {
                pointer-events: none;
                content: "Click to view";
                font-family: var(--font-roboto);
                font-weight: var(--font-weight-small);
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
                backdrop-filter: blur(10px);
                border-radius: var(--border-radius-small);
                background: var(--vertical-image-gallery-blurred-background);
                color: var(--font-color);
                opacity: 1;
                transition: opacity 0.3s ease;
              }
              &:hover::after {
                opacity: 0;
              }
            }
          }
        }
      }

      .icon-text-pair {
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-template-rows: auto auto;
        gap: 15px;
        margin: var(--margin-bottom) 0;
        background-color: var(--light-card-background);
        border: 1px solid #d0d0d0;
        padding: 20px;
        border-radius: var(--border-radius-small);
        box-shadow: var(--light-card-shadow);

        &:last-child {
          margin-bottom: 0;
        }

        // Row 1, Column 1: Icon
        .icon-circle-wrapper {
          grid-column: 1;
          grid-row: 1;
          display: flex;
          justify-content: center;
          align-items: flex-start;

          .icon-circle {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: var(--light-icon-background);
            border: var(--light-icon-border);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--light-icon-font-color);

            i {
              font-size: 20px;
            }
          }
        }

        .text-content {
          display: contents; // This makes the children participate in the grid

          // Row 1, Column 2: Title
          h4 {
            grid-column: 2;
            grid-row: 1;
            margin-bottom: 0;
            align-self: center;
          }

          // Row 2, Full Width: Bullet points
          ul {
            grid-column: 1 / -1; // Span all columns (full width)
            grid-row: 2;
            margin-left: 0;
            padding-left: 20px;
            margin-top: 0;
          }

          // Row 2, Full Width: Paragraphs
          p {
            grid-column: 1 / -1; // Span all columns (full width)
            grid-row: 2;
            margin-top: 0;
          }
        }
      }
    }
  }
}
