// Quote Section
.quote-section {
  width: 100%;
  padding: var(--section-padding);
  margin: clamp(40px, 10vw, 200px) 0;
}

.quote-container {
  width: 100%;
  text-align: right;
}

.quote-text {
  font-size: var(--font-size-super-title);
  line-height: var(--super-title-line-height);
  color: var(--font-color);
  margin: 0 0 2rem 0;
  font-weight: var(--font-weight-bold);
  position: relative;
  /*
  &::before {
    content: "“";
    position: absolute;
    color: var(--testimonials-qoute-color);
    font-family: "Alef", sans-serif;
    font-weight: 700;
    left: -0.5em;
    top: -0.1em;
  }

  &::after {
    content: "“";
    position: absolute;
    color: var(--testimonials-qoute-color);
    font-family: "Alef", sans-serif;
    font-weight: 700;
    margin-left: 0.1em;
  }*/
}

.quote-author {
  font-size: var(--font-size-h4);
  color: var(--font-color-muted);
  margin: 0;
  font-style: italic;
  font-weight: var(--font-weight-light);
}
