.quote-container {
  text-align: right;
  padding: var(--section-padding);
  margin-top: var(--margin);
  margin-top: var(--margin);

  .quote-text {
    font-size: clamp(28px, 3vw, 72px);
    color: var(--font-color);

    &::before,
    &::after {
      display: block;
      font-family: "Alef", sans-serif;
      font-size: 4em;
      line-height: 0.8;
      font-weight: 700;
      color: var(--testimonials-qoute-color);
    }

    &::before {
      content: "“";
      margin-bottom: -0.25em;
    }

    &::after {
      content: "”";
      margin-top: 0.25em;
    }
  }

  .quote-author {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.75rem;

    font-size: var(--font-size-h4);
    color: var(--font-color-muted);
    font-style: italic;
    font-weight: var(--font-weight-light);
    margin: 0;

    &::before {
      content: "";
      width: 2rem;
      height: 2px;
      background-color: var(--accent-color-1);
      border-radius: 999px;
    }
  }
}

@media screen and (max-width: 900px) {
  .quote-container {
    text-align: right;
    padding: var(--mobile-padding);
  }
}
