.skills-section {
  margin: clamp(40px, 10vw, 200px) 0;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  .skills-section-flexcenter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .skills-scroller {
    width: 100%;
  }

  .skills-scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: var(--infinite-gradient);
    mask: var(--infinite-gradient);
    .scroller_inner {
      width: fit-content;
      flex-wrap: nowrap;
      animation: scroll 20s var(--scroll-animation-direction, forwards) linear
        infinite;
    }
  }

  .skills-scroller[data-direction="right"] {
    --scroll-animation-direction: reverse;
  }

  .skills-scroller[data-direction="left"] {
    --scroll-animation-direction: forwards;
  }

  .scroller_inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .tag-list {
    padding-inline: none;
    list-style: none;
  }

  .tag-list > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tag-list li {
    font-size: var(--font-size-h5);
    padding: 0.8rem 2rem;
    border-radius: var(--border-radius-large);
    background-color: var(--skills-background-color);
    box-shadow: var(--skills-section-tags-shadow);
  }

  .tag-list li.skill-title {
    background-color: transparent;
    box-shadow: none;
    padding: 0.8rem 2rem;
  }

  .tag-list li.company-logo {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 40px;
      object-fit: contain;

      &#legoLogo {
        height: 50px;
      }
      &#SDUlogo {
        height: 30px;
      }
      &#netcompanyLogo {
        height: 30px;
      }
    }
  }
}

@keyframes scroll {
  to {
    transform: translate(-60%);
  }
}

@media screen and (max-width: 900px) {
  .skill-tag-scroller {
    font-size: 140px;
  }
}
