:root {
  --contrast-color: #0a1392;
  --dark-contrast-color: #180851;
  --hover-bg-color: rgba(10, 19, 146, 0.62);
  --text-color: #fff;
  --padding: 20px 40px;
  --border-radius-large: 20px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;
  --border-radius-tiny: 5px;
  --font-size-large: 26px;
  --font-weight-bold: 600;
  --background-color-dark: #010413;
  --border-color: rgba(10, 19, 146, 0.62);
  --video-bg-color: #e8e7ed;
  --video-padding: 5px;
}
