.audience-selector {
  position: relative;
  overflow: hidden;
  height: 60px;
  display: flex;
  align-items: center;
  .audience-selector-inner {
    display: flex;
    gap: 2rem;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    padding-right: 3rem;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .audience-btn {
      border: none;
      background: transparent;
      color: rgba(255, 255, 255, 0.6);
      padding: 0;
      cursor: pointer;
      transition: all 0.25s ease;

      &:hover {
        color: white;
      }

      &.active {
        background: white;
        color: black;
        padding: 0.8rem 1.5rem;
        border-radius: 999px;
        font-weight: 600;
      }
    }
  }
  .audience-selector-fade {
    position: absolute;
    top: 0;
    right: -40px;
    height: 100%;
    width: 60px;
    pointer-events: none;

    background: var(--infinite-gradient);
  }
}
