.dynamic-text-box {
  width: 100%;
  .dynamic-text {
    transition: opacity 0.2s ease;
    font-size: clamp(2rem, 3vw, 4rem);
    line-height: 1.25;
    font-weight: 500;
  }
}

.audience-engineers {
  .landing-section-background {
    display: none;
  }

  .landing-section-content-container {
    background: var(--code-bg);
    border: 1px solid var(--code-border);

    .dynamic-text {
      font-family: "JetBrains Mono", monospace;
      color: var(--code-text);
      white-space: pre-line;
      font-size: clamp(1.7rem, 2vw, 3.6rem);
    }
  }
}
.accent {
  color: var(--accent-color-1);
  font-weight: 600;
}
