// Landing Section - Layout

.landing-section {
  width: 100%;
  margin: var(--margin) 0;
  background-color: var(--background-color-dark);

  h1 {
    margin-bottom: 40px;
  }
  .landing-section-container {
    width: 100%;
    .landing-section-top {
      width: 100%;
      margin-bottom: 20px;
    }

    .landing-section-bottom {
      min-height: 400px;
      width: 100%;
      border-radius: var(--border-radius-large);
      position: relative;

      .landing-section-content-container {
        position: relative;
        z-index: 100;
        width: 100%;
        height: 100%;
        padding: 40px;
      }
    }
  }
}
